$font-header: 'Montserrat', sans-serif;
$font-text: 'Roboto Slab', serif;


.container {
    text-align: center;
}
.title {
    font-family: $font-header;
}
h1 {
    font-size: 40px;
}
h2 {
    font-size: 35px;
}
button {
    background-color: gold;
    border-radius: 10px;
    border: 1px solid black;
    color: black;
    font-size: 25px;
    font-family: $font-text;
    padding: 10px;
    margin: 20px;
    object-fit: cover;
}
body {
    background-image: url(/images/wood.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: black;
}
#messages {
    font-family: $font-text;
    font-size: 30px;
}
p  {
    font-family: $font-text;
    font-size: 30px;
    color: white;
}
ul {
    font-family: $font-text;
    font-size: 30px;
    color: black;
}